<div class="col">
  <div class="card h-100">
    <div class="card-body">
      <h4 class="card-title fw-bold">
        <%= link_to follower.name, user_path(follower), class: 'card-link' %>
      </h4>
      <%= image_tag follower.decorate.avatar, class: 'avatar-xl rounded-circle' %>
      <p><%= render 'relationships/follow_button', user: user %></P>
      <p class="card-text"><%= follower.introduction %></p>
    </div>
  </div>

  <div class="mx-auto">
    <%= paginate followers %>
  </div>
</div>
     